body {
    background: url(./Images/background.jpg) no-repeat fixed;
    background-size: cover;
    font-size: 1.05em;
  }

.carousel-control-next,
.carousel-indicators,
.carousel-control-prev {
    filter: invert(100%);
}
